@use "../../variables";
.loader{
    display: flex;
    justify-content: start;
    align-items: center;

    position: fixed;
    z-index: 9999999;
    height: 100vh;
    width: 100vw;

    animation-name: loaderAnimation;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background: linear-gradient(141deg, rgba(23,8,78,1) 0%, rgba(188,0,255,1) 100%);
    background-size: 200% 200%;

    & .line{
        height: 1px;
        width: 0%;
        background: white;
        animation-name: loaderLineAnimation;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

@keyframes loaderAnimation {
    0%{
        background-position: 0% 0%;
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    100%{
        background-position: 100% 100%;
        opacity: 0%;
        display: none;
    }
}

@keyframes loaderLineAnimation {
    0%{
        width: 0%;
    }
    50%{
        width: 60%;
    }
    100%{
        width: 100%;
    }
}

// 0s               1s         1.4s
//                        ＞透明 
//        ＞w60%   ＞w100% 