@use "../../components/modal/SuccessModal";
@use "../../variables";


.pageContents.supportP {
    & .inner {
        & form {
            display: flex;
            flex-flow: column;
            width: 100%;
            max-width: 720px;
            margin: 50px;
            & label {
                display: flex;
                flex-flow: column;
                margin-bottom: 10px;
                cursor: default;
            }
            & input,textarea {
                float: left;
                width: 100%;
                max-width: 100%;
                border: none;
                margin: 0.5rem 0;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                background: darken(#f9f9f9, 3%);
                color: black;

                &[type="submit"] {
                    background: red;
                    color: #fff;
                    width: auto;
                    float: right;
                }

                &::placeholder {
                    color: darken(#f9f9f9, 20%);
                }
            }
        }
    }
    & .btn-A {
        width: 100px;
    }
    & .btnArea{
        display: flex;
        align-items: center;
        & .errorMessage{
            color: red;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: variables.$responsive3) {
    .supportP.contents {
        & .inner {
            padding: 0px 20px;
        }
    }
}