@use "../../variables";
#moveTopBtn {
    z-index: 100
    ;
    $btnSize: 60px;

    background-color: transparent;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: variables.$purple;
    width: $btnSize;
    height: $btnSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    opacity: 0%;
    visibility: 0;
    transition: all 0.2s ease;
    cursor: initial;
    & svg {
        color: white;
    }
    &:hover {
        transform: scale(1.05);
    }
    &.isShow {
        cursor: pointer;
        opacity: 100%;
    }
}
@media (max-width: variables.$responsive2){
    #moveTopBtn {
        bottom: 20px;
        right: 20px;
    }
}