@use "./variables";
html {
    scroll-behavior: smooth;
    scroll-padding-top: variables.$headerHeightScrolled;
}

* {
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.15rem;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background-color: #48435c;
    border-radius: 3px;
}

.nowrap{
    white-space: nowrap;
}

.pageTitle{
    text-align: center;
    font-size: 1.8rem !important;
    padding: 30px 0px;
}

.pageContents{
    min-height: calc(100vh - 30px);
    padding-top: 120px;
    padding-bottom: 60px;
    & .inner{
        width: 100%;
        padding: 0px 100px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:variables.$responsive1){
    .pageContents{
        & .inner{
            padding: 0px 80px;
        }
    }
}
@media (max-width:variables.$responsive2){
    .pageContents{
        & .inner{
            padding: 0px 50px;
        }
    }
}
@media (max-width:variables.$responsive3){
    .pageContents{
        & .inner{
            padding: 0px 20px;
        }
    }
}