@use "./variables";

@use "./pages/SupportP/_SupportP.scss";
@use "./pages/PrivacyP/_PrivacyP.scss";
@use "./pages/NotFoundP/NotFoundP";

@use "./global";
@use "./components/header/Header";
@use "./components/footer/Footer";
@use "./components/keyVisual/KeyVisual";
@use "./components/sections/sections";
@use "./components/swiper/_Swiperr.scss";
@use "./components/modal/SuccessModal";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.btn-A {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.311);
    position: relative;
    color: white;
    backdrop-filter: blur(5px);
    transition: all 0.2s ease;
    font-size: 1rem;

    & .spn2 {
        position: absolute;
        right: 30px;
        transition: all 0.2s ease;
        font-size: 1.1rem;
    }
    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        & .spn2 {
            transform: translateX(10px);
        }
    }
}

.KeyVisualSub {
    position: relative;
    & img {
        z-index: 5;
        position: absolute;
    }
    & > div {
        z-index: 10;
    }
}

.setV {
    transition: all 0.5s ease;
    transform: translateY(25px);
    opacity: 0%;
}

.setHleft {
    transition: all 0.5s ease;
    transform: translateX(-40px) !important;
    opacity: 0%;
}

.setHright {
    transition: all 0.5s ease;
    transform: translateX(40px) !important;
    opacity: 0%;
}

.set-isShow {
    opacity: 100% !important;
    transform: none !important;
}

.bold {
    font-weight: 900;
}

//1100
@media screen and (max-width: variables.$responsive1) {
    header {
        & .inner {
            & nav {
                display: none;
            }
            & .hamburger {
                display: block;
            }
        }
    }
}

// 700
@media screen and (max-width: variables.$responsive2) {
    header {
        height: 70px;
        & .inner {
            margin: 0 10px;
            & img {
                height: 50px;
            }
        }
    }
    .KeyVisual {
        & .content {
            margin-top: 50px;
            & h1 {
                font-size: 2rem;
            }
        }
        color: white;
    }
    section {
        font-size: 0.8rem;
        & .inner {
            margin: 0px 50px;
            & p {
                font-size: 0.85rem;
            }
            & table {
                & td:nth-of-type(1) {
                    width: 80px;
                }
            }
        }
    }
}

// 500
@media screen and (max-width: variables.$responsive3) {
    html {
        scroll-padding-top: 70px;
    }
    header {
        height: 70px;
        & .inner {
            margin: 0px 10px;
            & img {
                height: 50px;
            }
        }
    }
    .KeyVisual {
        & .content {
            margin-top: 50px;
            & h1 {
                font-size: 1.5rem;
            }
        }
        color: white;
    }
    section {
        font-size: 0.8rem;
        & .inner {
            padding: 0px 20px;
            & h2 {
                font-size: 1.5rem;
            }
            & p {
                font-size: 0.75rem;
            }
        }
    }
    footer {
        font-size: 0.7rem;
    }
}
